@model HomeworkTwo.Models.Book

<h2>Add New Book</h2>
<form asp-action="Create" method="post">
    <label>Title</label>
    <input asp-for="Title" />
    <br />
    <label>Author</label>
    <input asp-for="Author" />
    <br />
    <label>Year</label>
    <input asp-for="Year" />
    <br />
    <button type="submit">Add Book</button>
</form>
<a asp-action="Index">Back to List</a>