@model HomeworkFour.Models.User

<div class="user-info">
    <p><strong>Name:</strong> @Html.DisplayFor(m => m.Name)</p>
    <p><strong>Age:</strong> @Html.DisplayFor(m => m.Age)</p>
    <p><strong>Email:</strong> @Html.DisplayFor(m => m.Email)</p>
</div>