@model List<HomeworkFour.Models.User>

<h2>@ViewBag.Title</h2>
<p>@ViewBag.Message</p>

<p>Total number of users: @ViewData["UserCount"]</p>

@if (TempData["LastAdded"] != null)
{ 
    <p>The last added user was: @TempData["LastAdded"]</p>
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @{ Html.RenderPartial("_UserDetails", user); }
                </td>
            </tr>
        }
    </tbody>
</table>